* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rgba(142, 14, 247, 0.434);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.character-container{
  position: absolute;
  height: 100vh;
  max-width: 700px;
  padding-bottom: 2vh;
  display: flex;
  flex-shrink: 3; 
  justify-content:center;
  align-items: flex-end;
  flex-direction: row;
}
/* tiedän että tästä tulee painful... 
  kaikki hahmojen asetukset tänne...
*/
.character{
  aspect-ratio: 1/1;
  max-width: 500px;
  height: 70vh;
  background-image:url("images/characters/HahmoSofi.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

.game-flex-container{
  display: flex;
  height: 100vh;
  max-width: 700px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  z-index: 0;
  background-image:url("images/backgrounds/KoulunPiha.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.top-options-menu{
  align-self: flex-end;
}

.infobox{
  font-family: 'Jura', sans-serif;
  z-index: 2;
  background-color: rgba(188, 126, 151, 0.781);
}
.speech-bubble{
  font-family: 'Jura', sans-serif;
  z-index: 2;
  background-color: rgba(221, 39, 112, 0.781);
}

.bottom-choice-container{
width: 100%;
}
.choice-button {
  z-index: 3;
  background-color: rgba(59, 67, 133, 0.781);
}

.hidden {
  display: none;
}