* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
  }
  .narratorBox {
    display: grid;
    grid-template-rows: auto 1fr; 
    width: 80%;
    border: 1px solid #000;
    border-radius: 10px 10px 0px 0px;
    background: #FFECE8;
    box-shadow: 3px 4px 0px 0px rgba(0, 0, 0, 0.25);
    font-size: 1.5rem; 
    font-family: 'Jura', sans-serif;
    text-align: left;
  }
  
  .details {
    align-items: center;
    height: 26px;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid #000;
    grid-row: 1;
    display: flex;
  }
  
  .narratorBox .details {
    background-color: #A9A7FF;
    display: flex;
    justify-content: space-between; 
  }
  
  .choiceBox .details {
    background-color: #90E2FD;
    display: flex;
    justify-content: space-between; 
  }
  
  .details .circle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #C1BFFF;
    margin-right: 2px; 
  }
  
  .details #lastCircle {
    margin-right: 10px; 
  }
  
  .details .triangles {
    width: 52px;
    height: 27px;
    margin-right: 2px;
    margin-left: 10px; 
  }
  
  .details .shine {
    height: 11px;
    flex-shrink: 0;
    border-radius: 10px;
  }
  
  .details #shine1 {
    background-color: #C1BFFF;
    width: 63px;
    margin-right: 5px;
    margin-left: 10px;
  }
  
  .details #shine2 {
    background-color: #C1BFFF;
    width: 15px;
    margin-right: auto; 
  } 
  
  .details #shine3 {
    background-color: #AFEAFE;
    width: 63px;
    margin-left: auto;
  }
  
  .details #shine4 {
    background-color: #AFEAFE;
    width: 15px;
    margin-right: 10px;
    margin-left: 5px;
  } 
  
  .main-content {
    padding: 10px 16px 16px;
    color: #000000; 
    font-size: 1.5rem;
    font-family: 'Jura', sans-serif;
    text-align: left;
    grid-row: 2; 
  }
  
  
  .choiceBox {
    display: grid;
    grid-template-rows: auto 1fr; 
    width: 80%;
    border: 1px solid #000;
    border-radius: 10px;
    background: #FFF8EE;
    box-shadow: 3px 4px 0px 0px rgba(0, 0, 0, 0.25);
    font-size: 24px;
    font-family: 'Jura', sans-serif;
    text-align: left;
  }
  
  
.speechBubble {
  display: grid;
  grid-template-columns: auto 1fr; 
  grid-template-rows: 2fr auto;
  position: relative;
  width: 80%;
}

.dialogue {
  grid-column: 2;
  grid-row: span 2;
  display: flex;
  padding: 12px 16px 12px 0px;
  align-items: flex-start;
  border-radius: 0px 10px 10px 0px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  background: #E4FCFF;
  box-shadow: 3px 4px 0px 0px rgba(0, 0, 0, 0.25);
  font-size: 1.5rem;
  font-family: 'Jura', sans-serif;
  text-align: left;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-left: -8px; 
}

.upper-left-corner {
  display: flex; 
  flex-direction: column;
  align-items: flex-end;
  align-self: stretch; 
  content: "";
  grid-column: 1;
  grid-row: 1;
  position: absolute;
  width: 22px;
  flex: 1 0 0;
  flex-direction: column; 
  top: 0px;
  border-radius: 10px 0px 0px 0px;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  background: #E4FCFF;
  margin-left: 6px;
  margin-bottom: 10px;
  gap: -10px; 
}


.lower-left-corner {
  position: absolute;
  grid-column: 1;
  grid-row: 2;
  bottom: 0;
  width: 22px; 
  height: 17px;
  z-index: -1;
  box-shadow: 3px 4px 0px 0px rgba(0, 0, 0, 0.25);

}